WeatherClient/WeatherClient/Connected Services/ServiceWeather/ServiceWeather2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfWeather" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfWeather" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="WeatherCityDay">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConditionComment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Day" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Rainfall" type="xs:float" />
      <xs:element minOccurs="0" name="TemperatureMax" type="xs:int" />
      <xs:element minOccurs="0" name="TemperatureMin" type="xs:int" />
      <xs:element minOccurs="0" name="Wind" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WeatherCityDay" nillable="true" type="tns:WeatherCityDay" />
</xs:schema>